.upper-img{
    width:100vw;
    position: absolute;
    margin:0 0 0 0;
    padding: 0 0 0 0;
   
}
 .logo {
     position:absolute;
     margin:4.5vw 0 0 4.5vw;
}

body {
    margin:0;
    padding:0;
    background-image: url(images/bg-intro.svg);
    background-repeat: no-repeat;
    background-position:initial;
    background-size:cover;
 }